<!Doctype html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    </head>
    <body>
    {{$wisdom := .}}
    <h1>Hello World!</h1>
    <h1>{{$wisdom}}</h1>
    </body>
</html>