<!Doctype html>
<html lang="eng">
    <head>
    <meta charset="utf8">
    <title>Hello World!</title>
    </head>
    <body>
        <h1>Hello World!</h1>
        <form method="POST" action="/bar">
            <input type="text" name="fname" title="fname">
            <input type="submit" >
        </form>
    </body>
</html>