<!Doctype html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>My first Session</title>
    </head>
    <body>
        {{.}}
        <br>
        <h2><a href="/login">Login</a></h2>
        <h2><a href="/signup">Signup</a></h2>
        <h2><a href="/logout">logout</a></h2>
        <h2>Go to <a href="/bar">the bar</h2>
    </body>
</html>