<!Doctype html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>My first Session</title>
    </head>
    <body>
        <h1>LogIn</h1>
        <form method="post">
            <input type="email" name="username" placeholder="email">
            <input type="password" name="password" placeholder="password">
            <input type="submit">
        </form>
    </body>
</html>