<!Doctype html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>My first Session</title>

    <link href="../resources/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        {{.}}
        <br>
        <h2><a href="/login">Login</a></h2>
        <h2><a href="/signup">Signup</a></h2>
        <h2><a href="/logout">logout</a></h2>
        <h2>Go to <a href="/bar">the bar</h2>
        <h2>Go to <a href="/foo">the foo</h2>

        
    </body>
</html>