<!Doctype html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link href="../resources/signin.css" rel="stylesheet">
    </head>
    <body>
        <form class="form-signin" method="post">
            <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
            <br>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input name="username" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <br>
            <label for="inputPassword" class="sr-only">Password</label>
            <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <br>
            <label for="inputPassword" class="sr-only">First Name</label>
            <input name="firstname" type="password" id="first" class="form-control" placeholder="Password" required>
            <br>
            <label for="inputLastName" class="sr-only">Last Name</label>
            <input type="text" name="lastname" id="last" class="form-control" placeholder="last" required>
            <br>
            <div class="checkbox mb-3">
                <label>
                <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
        </form>

        
    </body>
</html>