<!Doctype html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    </head>
    <body>
        <!-- Piping - Just like Unix -->
        <h1>Hello World!</h1>
        {{.}}
        {{. | fdbl}}
        {{. | fdbl | fsqr }}
        {{. | fdbl | fsqr | fsqrt }}
    </body> 
</html>