<!Doctype html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>My first Session</title>
    </head>
    <body>
        {{.}}

        <br>
        <h2>Go to <a href="/bar">the bar</h2>
    </body>
</html>